{% block content %}
    <form action="">
        <label>
            <input type="text" value="" placeholder="name">
            <br><br>
            <input type="email" value="" placeholder="email">
            <br><br>
            <input type="radio" id="man"
             name="gender" value="text">
            <label for="man">Муж.</label>
            <br><br>
            <input type="radio" id="women"
             name="gender" value="text">
            <label for="women">Жен.</label>
            <br><br>
            <button>send</button>
        </label>
    </form>
{% endblock %}
